<%= form_with model: @author, local: true do |f| %>
   
   <% if @author.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@author.errors.count, "error") %> prohibited
        this author from being saved:
      </h2>
      <ul>
        <% @author.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p><strong>Books:</strong></p>

    <p>
      <%= f.fields_for :books do |book| %>
        <%= render 'book_fields', f: book %>
      <% end %>

      <p>
        <%= f.submit 'add book', :name => "add_book" %>
         <%= f.submit 'remove book', :name => "remove_book" %>
      </p>
    </p>

 
  <p>
    <%= f.submit %>
  </p>
 
<% end %>